<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0218" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.0.0-alpha0186" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net472" />
  <package id="Sentry" version="1.1.1" targetFramework="net472" />
  <package id="Sentry.PlatformAbstractions" version="1.0.0" targetFramework="net472" />
  <package id="Sentry.Protocol" version="1.0.2" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
</packages>